body {
	margin: 0;
	font-family: times new roman, serif;
}

h1, h2, h3, h4, p {
	margin: 0;
}

a {
	text-decoration: none;
	color: #000000;
}

li {
	list-style: none;
}

/***********************************
	header
************************************/
header {
	width: 100%;
	position: fixed;
	top: 0;
	text-align: center;
	padding: 8px 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	background-color: rgba(255, 255, 255, 1);
}

header img {
	height: 37px;
	vertical-align: bottom;
	margin-right: 8px;
}

header h1 {
	display: inline-block;
}

header a {
	position: fixed;
	font-size: 25px;
	left: 0;
	top: 0;
	padding: 15px 14px 10px;
}


/***********************************
	index
************************************/
.index {
	padding: 74px 0 96px;
	background-color: rgba(0, 0, 0, .02);
}

.index-2 {
	padding-bottom: 38px;
}

.index p {
	text-align: center;
}

.index ul {
	padding-left: 0;
	margin: 20px 15% 0;
}

.index li {
	box-shadow: 0.2px 0.2px 8px rgba(0, 0, 0, .1), -0.2px -0.2px 8px rgba(0, 0, 0, .1);
	background-color: #ffffff;
	text-align: center;
	border-radius: 8px;
	font-weight: bold;
}

.index li a {
	display: flex;
	padding: 2px;
}

.index li a:active {
	background-color: #eeffff;
}

.index li + li {
	margin-top: 24px;
}

.index li img {
	width: 50%;
	aspect-ratio: 4 / 3;
	object-fit: cover;
	border-radius: 8px 0 0 8px;
}

.index li div {
	margin: auto;
}


/***********************************
	culture-item
************************************/
.culture-item {
	background-color: #ffffff;
	padding: 74px 0 96px;
}

.culture-item .ja {
	font-size: 14px;
	font-weight: bold;
}

.culture-item img,
.culture-item video {
	margin-bottom: 4px;
}

.culture-item iframe {
	margin-top: 4px;
}

.culture-item .hero {
	padding-left: 8%;
}

.culture-item .hero img {
	width: calc(84 / 92 * 100%);
	aspect-ratio: 5 / 3;
	object-fit: cover;
	vertical-align: bottom;
}

.culture-item .hero p {
	padding-right: 5%;
}

.culture-item > div + div {
	margin-top: 36px;
}

.culture-item .topic h3 {
	margin-left: 8%;
	margin-bottom: 12px;
	margin-right: 10%;
	border-bottom: 1px solid #000000;
}

.culture-item .topic p {
	padding-right: 5%;
}

.culture-item .topic ul {
	padding-left: 10%;
	margin: 0;
}

.culture-item .topic li + li {
	margin-top: 24px;
}

.culture-item .topic li img,
.culture-item .topic li video {
	width: calc(100% * 80 / 90);
	aspect-ratio: 5 / 3;
	object-fit: cover;
	vertical-align: bottom;
}

.culture-item .topic li iframe {
	width: calc(100% * 80 / 90);
	aspect-ratio: 5 / 3;
	object-fit: cover;
	vertical-align: bottom;
	margin-top: 16px;
	border: none;
}

.culture-item .card {
	/* 10 / (4.8 * 5) */ 
	aspect-ratio: 9 / 4.8;
	perspective: 1000px;
}

.culture-item .card-inner {
	height: calc(100% + 44px);
	transition: transform .6s;
	transform-style: preserve-3d;
}

.culture-item .flip .card-inner {
	transform: rotateY(180deg);
}

.culture-item .card-front,
.culture-item .card-back {
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
}

.culture-item .card-back {
	transform: rotateY(180deg);
}

.culture-item #btn {
	color: darkblue;
	position: absolute;
	bottom: 0;
	font-size: 20px;
	right: 12%;
}

.culture-item .card-back .topic + .topic {
	margin-top: 36px;
}

.culture-item .card-back .subtitle {
	margin-top: 8px;
}

.culture-item .card-back .order {
	margin-top: 12px;
}

.culture-item #content1 {
	display: none;
}

/***********************************
	footer
************************************/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;
	border-top: 1px solid rgba(0, 0, 0, .1);
	box-shadow: -2px 0px 4px rgba(0, 0, 0, .1);
}

footer ul {
	padding-left: 0;
	margin: 0;
}

footer li {
	display: inline-block;
	float: left;
	width: calc(100% / 5);
	text-align: center;
}

footer li a {
	display: block;
	color: #aaaaaa;
	padding: 10px 0 10px;
}

footer li #current {
	color: #000000;
}

footer li i {
	font-size: 28px;
}
